.isloader{
  border: 1px solid blue;
  padding: 1rem;
  margin: auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.is-loader-inner{
  border: 1px solid green;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s infinite;
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

